.editor {
    width: 100%;
    height: 100%;

    &-left,
    &-right {
        position: absolute;
        width: 270px;
        top: 0;
        bottom: 0;
    }

    /*左侧栏*/
    &-left {
        left: 0;
        margin-top: 60px;
        overflow: scroll;

        &-item {
            width: 250px;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border: 1px solid blue;
            padding: 20px;
            box-sizing: border-box;
            cursor: move;
            min-height: 100px;
            position: relative;
            -webkit-user-select: none;
            user-select: none;

            >span {
                position: absolute;
                top: 0;
                left: 0;
                background-color: blue;
                color: #fff;
                padding: 4px;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                opacity: 0.2;
            }
        }
    }

    /*右侧栏*/
    &-right {
        right: 0;
        margin-top: 80px;

        &-title {
            text-align: center;

            &-box {
                height: 550px;
                margin-top: 2px;
            }
        }
    }

    /*上侧栏*/
    &-top {
        position: absolute;
        right: 280px;
        left: 280px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        &-button {
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: skyblue;
            -webkit-user-select: none;
            user-select: none;
            cursor: pointer;
            color: #fff;

            &+& {
                margin-left: 4px
            }
        }
    }

    /*中间栏*/
    &-container {
        padding: 80px 290px 0;
        height: 100%;
        box-sizing: border-box;

        &-canvas {
            overflow: scroll;
            height: 100%;

            &_content {
                margin: 0 auto;
                background-color: #F5F5F5;
                position: relative;
            }
        }
    }
}

.editor-block {
    position: absolute;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

/*点击后样式*/
.editor-block-focus {
    &::after {
        border: 3px dashed skyblue;
    }
}

/*点击前样式*/
.editor-block-preview {
    &::after {
        display: none;
    }
}

/*辅助线*/
.line-x {
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px dashed red;
}

.line-y {
    position: absolute;
    left: 0;
    right: 0;
    border-top: 1px dashed red;
}

/*预览遮罩层*/
.bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(0, 0, 0, .5);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 20px;

    .canvas-container {
        width: calc(100% - 40px);
        height: calc(100% - 120px);
        overflow: auto;

        .canvas {
            background: #fff;
            position: relative;
            margin: auto;
        }
    }

    .close {
        position: absolute;
        z-index: 20;
        right: 21%;
        top: 9%;
    }
}

.editor-block-preview-bg {
    display: none;
}

/*链接输入框*/
#prepend {
    display: flex;
    justify-content: space-between;

    div {
        width: 50px;
        margin-right: 5px;
        font-size: 15px;
    }

}

/*放大与缩小*/
.block-resize {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: none;
    border: 2px solid #ccc;
    z-index: 1000;
    -webkit-user-select: none;
    user-select: none;
}

.block-resize-top {
    top: -4px;
    left: calc(50% - 4px)
}

.block-resize-bottom {
    bottom: -4px;
    left: calc(50% - 4px)
}

.block-resize-left {
    top: calc(50% - 4px);
    left: -4px
}

.block-resize-right {
    top: calc(50% - 4px);
    right: -4px
}

.block-resize-top-left {
    top: -4px;
    left: -4px;

}

.block-resize-top-right {
    top: -4px;
    right: -4px;

}

.block-resize-bottom-left {
    bottom: -4px;
    left: -4px;

}

.block-resize-bottom-right {
    bottom: -4px;
    right: -4px;
}

.el-button,
.el-input {
    transition: none;
}

/*图片组件*/
.uploader-box {
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 178px;
    height: 178px;
    display: block;
    cursor: pointer;
}